#resultado {
  width: 100%;
  height: 100%;
  display: flex;
}

.contenedor-tabla {
  display: none;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  animation: slide 0.6s forwards;
}

.btn-slide {
  z-index: 10;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#btn-resultado {
  display: none;
  z-index: 10;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.info > p {
  margin: 0.2rem 0;
  text-align: center;
}

.textBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#btn-prev {
  left: 0;
  display: none;
}

#btn-sig {
  right: 0;
  display: none;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}