:root {
  --cl-primary: #e1d421;
  --cl-secondary: #686868;
  --cl-terciary: #2d2d2d;

  --txt-color: #ffffff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--txt-color);
  background-color: var(--cl-secondary);
}

main {
  display: flex;
  justify-content: center;
}

form, #resultado-contenedor {
  width: 100%;
  border: 2px solid black;
  padding: 1rem 3rem;
  margin: 0 4rem 3rem;
}

#resultado-contenedor {
  position: relative;
  display: flex;
}

.form-group {
  margin: 0.2rem 0;
}

.value {
 border: 2px solid black;
 background-color: var(--cl-terciary);
 border-radius: 3px;
 color: var(--txt-color);
 font-weight: 900;
 min-width: 30px;
 width: 30px;
 text-align: center;
 padding: 0.2rem 0.1rem;
 font-family: monospace;
}

.value:focus, btn:focus {
  outline: 2px solid var(--cl-primary);
}

table {
  margin: 2rem auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 0.5rem;
}

tr:first-child {
  background-color: var(--cl-terciary);
}

tr:nth-child(even) {
  background-color: var(--txt-color);
  color: var(--cl-terciary);
}

p {
  font-weight: 800;
  margin: 1rem 0;
  text-align: center;
}

.limite {
  margin: 0.2rem 0;
}

.btn {
  border: 2px solid var(--cl-terciary);
  border-radius: 4px;
  background-color: var(--cl-primary);
  font-weight: 900;
  font-size: 14px;
  padding: 0.2rem 0.3rem;
  min-width: 30px;
}

.btn:hover {
  filter: brightness(120%);
  opacity: 1;
}

.btn:active {
  filter: brightness(80%);
}

h1, h2 {
  color: var(--cl-terciary);
}

@media screen and (max-width: 1080px) {
  main {
    flex-direction: column;
  }

  form, #resultado-contenedor {
    width: auto;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}